- name: Deploy to FTP (/htdocs)
  uses: SamKirkland/FTP-Deploy-Action@v4.3.5
  with:
    server: ${{ secrets.FTP_HOSTNAME }}
    username: ${{ secrets.FTP_USERNAME }}
    password: ${{ secrets.FTP_PASSWORD }}
    port: ${{ secrets.FTP_PORT }}
    protocol: ftp

    local-dir: site/
    server-dir: /htdocs/

    exclude: |
      **/.git*
      **/.github/**
      **/node_modules/**
      **/.DS_Store
